<%= form_for @changeset, "/quote/#{@params.token}", fn f -> %>
  <label>
    first_name: <%= text_input f, :first_name %>
  </label>
  <label>
    last_name: <%= text_input f, :last_name %>
  </label>
  <label>
    rfc: <%= text_input f, :rfc %>
  </label>
  <label>
    gender: <%= text_input f, :gender %>
  </label>
  <%= submit "Submit" %>
<% end %>
