<h1>Datos de tu vehiculo</h1>

<%= form_for @changeset, "/quote/#{@params.quote.token}", fn f -> %>
  <label>
    serie: <%= text_input f, :serie %>
  </label>
  <label>
    motor: <%= text_input f, :motor %>
  </label>
  <br>
  <%= submit "submit" %>
<% end %>

<%= form_for @conn,"/quote/#{@params.quote.token}", fn f -> %>
  <%= hidden_input f, :go_back, value: "true" %>
  <%= submit "Atras", class: "btn btn-danger" %>
<% end %>
