<h1>Direccion</h1>

<%= form_for @changeset, "/quote/#{@params.quote.token}", fn f -> %>
  <label>
    street: <%= text_input f, :street %>
  </label>
  <label>
    external_number: <%= text_input f, :external_number %>
  </label>
  <label>
    external_number: <%= text_input f, :country %>
  </label>
  <br>
  <%= submit "submit" %>
<% end %>

<%= form_for @conn,"/quote/#{@params.quote.token}", fn f -> %>
  <%= hidden_input f, :go_back, value: "true" %>
  <%= submit "Atras", class: "btn btn-danger" %>
<% end %>
