<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <label>
    vehicle: <%= text_input f, :vehicle_quote %>
  </label>
  <label>
    age: <%= text_input f, :age %>
  </label>
  <label>
    name: <%= text_input f, :name %>
  </label>
  <label>
    gender: <%= text_input f, :gender %>
  </label>
  <label>
    zip_code: <%= text_input f, :zip_code %>
  </label>
  <label>
    email: <%= text_input f, :email %>
  </label>
  <label>
    phone: <%= text_input f, :phone %>
  </label>
  <%= submit "Submit" %>
<% end %>

