<h1>Policy</h1>

<h2>Customer</h2>
<p>name: <%= @params.quote.customer.name %></p>
<p>phone: <%= @params.quote.customer.email %></p>
<p>email: <%= @params.quote.customer.phone %></p>

<h2>Vehicle</h2>
<p>make: <%= @params.quote.vehicle.make %></p>
<p>model: <%= @params.quote.vehicle.year_model %></p>
<p>version: <%= @params.quote.vehicle.version %></p>

<h2>Opciones de cotizacion</h2>
<%= form_for @changeset, "/quote/#{@params.quote.token}", fn f -> %>
  <%= hidden_input f, :ensurer, value: "qualitas" %>
  <%= submit "Qualitas" %>
<% end %>

<%= form_for @changeset, "/quote/#{@params.quote.token}", fn f -> %>
  <%= hidden_input f, :ensurer, value: "ana" %>
  <%= submit "Ana" %>
<% end %>

<%= form_for @changeset, "/quote/#{@params.quote.token}", fn f -> %>
  <%= hidden_input f, :ensurer, value: "aba" %>
  <%= submit "Aba" %>
<% end %>
