<h1>Summary</h1>

<h2>Customer</h2>
<p>name: <%= @params.quote.customer.name %></p>
<p>phone: <%= @params.quote.customer.email %></p>
<p>email: <%= @params.quote.customer.phone %></p>

<h2>Vehicle</h2>
<p>make: <%= @params.quote.vehicle.make %></p>
<p>model: <%= @params.quote.vehicle.year_model %></p>
<p>version: <%= @params.quote.vehicle.version %></p>

<h2>Option</h2>
<p>make: <%= @params.quote.ensurer_quote %></p>

<%= form_for @conn,"/quote/#{@params.quote.token}", fn f -> %>
  <%= hidden_input f, :go_back, value: "true" %>
  <%= submit "Atras", class: "btn btn-danger" %>
<% end %>
