<h1>vehicle</h1>
<p>name</p><%= @params.quote.customer.name %>
<p>phone</p><%= @params.quote.customer.email %>
<p>email</p><%= @params.quote.customer.phone %>

<%= form_for @changeset, "/quote/#{@params.quote.token}", fn f -> %>
  <label>
    Select make <%= select(f, :make, ["Make1": "make1", "Make2": "make2", "Make3": "make3"]) %>
  </label>
  <label>
    Select model <%= select(f, :year_model, 2021..1990) %>
  </label>
  <label>
    Select model <%= select(f, :version, ["np300": "np300", "cdl": "cdl",]) %>
  </label>
  <%= submit "Submit" %>
<% end %>

