<h1>vehicle</h1>

<%= form_for @changeset, "/quotes/#{@params.token}", [method: "patch"], fn f -> %>
  <label>
    Select make <%= select(f, :make, ["Make1": "make1", "Make2": "make2", "Make3": "make3"], prompt: "Selecciona una marca") %>
  </label>
  <label>
    Select model <%= select(f, :year_model, 2021..1990, prompt: "Selecciona un modelo") %>
  </label>
  <label>
    Select model <%= select(f, :version, ["np300": "np300", "cdl": "cdl",], prompt: "Selecciona una version") %>
  </label>
  <%= submit "Submit" %>
<% end %>

